@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #01041E;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 10px 15px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

section {
    overflow-x: clip;
}






.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}
header {
    height: 95px;
    display: flex;
    align-items: center;
    background-color: #0E112E;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .headerRight {
    display: flex;
    align-items: center;
}

.headerRight ul {
    display: flex;
    align-items: center;
}

.headerRight ul li {
    margin-left: 20px;
}

.headerRight ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.headerRight button {
    font-size: 16px;
    border-radius: 8px;
    padding: 9px 25px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-left: 20px;
}

.fa-bars {
    display: none;
    font-size: 25px;
    color: #fff;
    margin-left: 20px;
}






.pricing {
    padding: 50px 0;
}
.pricingHeading {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    position: relative;
}
.pricingHeading::before {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.09);
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;
}
.pricingHeading h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
.pricingHeading p {
    max-width: 1070px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}


.pricingMain {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    background-color: #1F2662;
    padding: 35px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.pricingMainTop {
    display: flex;
    margin-bottom: 40px;
}
.pricingMainCardSpe {
    width: 25%;
    padding-right: 10px;
    padding-top: 70px;
}
.pricingMainCardSpe img {
    display: block;
    margin-bottom: 5px;
}
.pricingMainCardSpe p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}


.pricingMainCard {
    width: 25%;
    height: 393px;
    padding: 25px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -45px;
}

.pricingMainCard.active {
    background-color: #4E2D92;
}

.pricingMainCard h3 {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
}
.pricingMainCard h4 {
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
}
.pricingMainCard h4 span {
    font-size: 40px;
}
.pricingMainCard p {
    font-size: 14px;
    font-weight: 900;
    color: #B5AEBB;
    margin-bottom: 80px;
}

.pricingMainCard button {
    width: 100%;
    height: 52px;
    background-color: #F9F2FF;
    border-radius: 8px;
    border: none;
    color: #4E2D92;
    font-size: 14px;
    font-weight: 900;
}




.pricingTableRow {
    height: 80px;
    display: flex;
    align-items: center;
    /* padding: 15px 0; */
    border-radius: 8px;
}
.pricingTableRowBg {
    background-color: #141840;
}
.pricingTableItemSpe {
    width: 25%;
    padding-left: 30px;
}
.rowItemBig {
    width: 50%;
}
.pricingTableItemSpe p {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}


.pricingTableItem {
    width: 25%;
    display: grid;
    place-items: center;
}



.pricingLastText {
    max-width: 1070px;
    margin: 0 auto;
    position: relative;
}
.pricingLastText::before {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.09);
    content: '';
    position: absolute;
    top: -10px;
    right: -40px;
    z-index: -1;
}
.pricingLastText p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}






.network {
    padding: 210px 0;
}

.networdContent {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    background-color: #1F2662;
    padding: 35px;
    border-radius: 8px;
    position: relative;
}

.networdContent::before {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.09);
    content: '';
    position: absolute;
    bottom: -140px;
    left: -60px;
    z-index: -1;
}

.networdContent h2 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}


.networkRowHeading {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    padding: 10px 25px;
    background-color: #141840;
    display: flex;
    align-items: center;
}
.networkRowHeading p {
    font-size: 20px;
    font-weight: 700;
    color: #F9F2FF;
}

.networkRow {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
}
.networkRowLeft, .networkRowRight {
    width: 50%;
}

.networkRowLeft p, .networkRowRight p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}







footer {
    padding: 40px 0;
    background-color: #0E112E;
}

.footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerTop ul {
    display: flex;
    align-items: center;
}

.footerTop ul li {
    margin-left: 20px;
}

.footerTop ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}


.footerContact p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
}



.footerBottom {
    padding: 15px 0;
}
.footerBottom img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.footerBottom img:last-child {
    margin-bottom: 0;
}








@media (max-width: 850px) {
    .overlay.active {
        opacity: 1;
        pointer-events: all;
    }
    .headerRight ul {
        width: 290px;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: -310px;
        flex-direction: column;
        align-items: flex-start;
        padding: 80px 30px;
        transition: .3s;
        z-index: 100;
    }
    .headerRight ul.active {
        left: 0;
    }
    .headerRight ul li {
        margin-left: 0;
        margin-bottom: 25px;
    }
    .headerRight ul li a {
        color: #000;
        font-size: 18px;
        font-weight: 600;
    }
    .fa-bars {
        display: block;
    }
}




@media (max-width: 800px) {
    .pricingMainTop {
        flex-wrap: wrap;
    }
    .pricingMainCardSpe {
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pricingMainCardSpe img {
        margin-bottom: 20px;
    }
    .pricingMainCard {
        width: 50%;
        margin-top: 0;
        margin-bottom: 20px;
    }


    .pricingTableRow {
        height: fit-content;
        padding: 15px 0;
    }


    .networkRowHeading, .networkRow {
        height: fit-content;
        padding: 20px 25px;
    }
    .networkRowLeft {
        padding-right: 25px;
    }


    .footerTop {
        flex-direction: column;
        margin-bottom: 35px;
    }
    .footerTop img {
        margin-bottom: 30px;
    }

    .footerTop ul {
        margin-bottom: 25px;
    }

    .footerContact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footerContact p {
        margin: 5px 15px;
    }
}





@media (max-width: 650px) {
    header .logo {
        width: 160px;
    }
    .headerRight button {
        font-size: 14px;
        padding: 5px 15px;
    }
    .pricingHeading::before {
        width: 200px;
        height: 200px;
    }
    .pricingHeading h1 {
        font-size: 45px;
    }

    .pricingHeading p {
        font-size: 17px;
    }


    .pricingMainCard {
        width: 100%;
    }

    .pricingTableItem img {
        width: 18px;
    }

    .pricingLastText p {
        font-size: 17px;
    }

    .pricingLastText::before {
        width: 200px;
        height: 200px;
    }



    .network {
        padding: 120px 0;
    }

    .networdContent::before {
        width: 200px;
        height: 200px;
    }
    .networdContent h2 {
        font-size: 35px;
    }
    .networkRowHeading p {
        font-size: 17px;
    }
    .networkRowLeft p, .networkRowRight p {
        font-size: 17px;
    }



    .footerTop ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footerTop ul li {
        margin: 10px;
    }
}




@media (max-width: 450px) {
    .fa-bars {
        font-size: 20px;
    }

    .pricingHeading h1 {
        font-size: 42px;
    }

    .pricingMainCard h4 span {
        font-size: 36px;
    }



    .pricingMainCard h4 span {
        font-size: 13px;
    }



    .pricingTableItemSpe {
        padding-left: 10px;
    }
    .pricingTableItemSpe p {
        word-wrap: break-word;
    }
    .pricingTableItem img {
        width: 15px;
    }


    .networdContent h2 {
        font-size: 31px;
    }


    .networkRowHeading, .networkRow {
        padding: 15px 10px;
    }
    .networkRowHeading p {
        font-size: 15px;
    }
    .networkRowLeft p, .networkRowRight p {
        font-size: 15px;
    }

}